* {
    box-sizing: border-box;
    font-family: monospace;
}

h1 {
    background-color: lightcoral;
}

body {
    background-color: lightblue;
}

.btn:hover {
    color: lightcoral;
    background-color: aqua;
    box-shadow: 2px 2px lightblue;
}

.success {
    background-color: rgb(113, 238, 113);
}

.warning {
    background-color: rgb(224, 185, 112);
}

.danger {
    background-color: rgb(226, 107, 107);
}