* {
    box-sizing: border-box;
    font-family: monospace;
}

h1 {
    background-color: lightcoral;
}

body {
    background-color: lightblue;
}

.btn:hover {
    color: lightcoral;
    background-color: aqua;
    box-shadow: 2px 2px lightblue;
}

.success {
    background-color: green;
}

.warning {
    background-color: orange;
}

.danger {
    background-color: red;
}